{% load static %}
<link rel='stylesheet' href="{% static 'css/about_me.css' %}">
<body>
    <div class="container about-me">
        <div class="row">
          <div class="col image-side">
            {% load static %} <img src="{% static "image/portfolio.jpg" %}" alt="user-image"  class="rounded mx-auto d-block"/>
          </div>
          <div class="col content-side">
            <div class="about-user">
                <h1>Hello,</h1>
                <p class="first-part text-justify text-base sm:text-xl ">
                    and welcome to my Portfolio profile! My name is Sanju, and I am a software engineer with 3+ years of experience in the software industry. I am passionate about front-end and back-end, and I thrive in dynamic and fast-paced environments where I can put my skills to the test.
                </p>
                <p class="mt-6 text-justify text-base sm:text-xl">
                    Over the course of my career, I have had the opportunity to work with some amazing companies and individuals, and I am grateful for the knowledge and experience I have gained from each of these experiences. I have had the privilege of working on a wide range of projects, from [Examples of Projects You Have Worked On], and I have learned a great deal from each of these experiences.
                </p>
                <p class="mt-6 text-justify text-base sm:text-xl">
                    One of the things I love about my work is the opportunity to collaborate with others and learn from their expertise. I am always seeking out new challenges and opportunities to expand my skills and knowledge, and I am committed to continuous learning and growth.
                    
                    If you would like to connect with me, please don't hesitate to send me a message or connect with me on 
                </p>
                <p class="mt-6 text-justify text-base sm:text-xl">
                    <a href="https://www.linkedin.com/in/coder-sanju/" target="_blank"> Linkedin!</a>  I look forward to getting to know you!
                </p>
            </div>
          </div>
        </div>
    </div>
</body>