.sticky-header {
    background-color: rgba(0, 0, 0, 0.81);
}

img {
    display: block;
    /* max-width: 100%; */
    /* border-radius: 4px; */
    opacity: 1;
    text-align: center;
    object-fit: cover;
}

.navbar{
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 999;
    background-color:#040305;
}
.social-wrapper, .social-footer{
    margin-top: 0px;
    padding: 1px;
    
}
.image-9{
    border-radius: 0px;
}
.social-wrapper{
    background-color: whitesmoke;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    
}